---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import InterviewFooter from "../../components/interview/InterviewFooter.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      article {
        flex: 1;
        margin: 2rem;
      }
      header {
        margin: 5rem 0;
        font-size: 4em;
        font-weight: 1000;
        background-image: linear-gradient(
          90deg,
          rgba(108, 63, 255, 1) 0%,
          rgba(233, 201, 255, 1) 100%
        );
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 1.2;
      }

      p {
        font-weight: 500;
        text-align: center;
      }

      .about {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(254, 229, 0);
        border-radius: 10px;
      }

      hr {
        width: 100%;
        border: 1px solid #e8eaed;
        margin: 40px 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <article>
        <header>Warchive: article</header>

        <div class="about">
          <p>별도의 회원가입 없이 소셜 계정으로 로그인하세요.</p>
          <hr />
          <a href="https://localhost:5173/login" class="login-button">
            <img src="/assets/kakao-login.png" alt="카카오 로그인" />
          </a>
        </div>
      </article>
    </main>
    <InterviewFooter />
  </body>
</html>
