---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
    imgSrc: string;
    href: string;
    cling: boolean;
};

const { imgSrc, href, cling, ...props } = Astro.props;

---

<a href=`/Radicals-in-University/${href}` {...props} class={cling ? 'cling' : 'away'} >
    <img src=`../../../../public/RiU/${imgSrc}` alt="이미지" class={imgSrc === 'button_intro.png' ? 'bigger' : ''} />
</a>

<style>
    a{
        position: absolute;
        display: inline-block;
        text-decoration: none;
    }
	a.cling {
        right: -10%;
        bottom: -2%;
    }
    a.away {
        right: 1rem;
        bottom: 2rem;
    }
    img {
        width: 200px;
        height: 200px;
        display: block;
        object-fit: cover;
    }
    img.bigger {
        width: 230px;
        height: 230px;
    }
    
    @media (max-width: 1100px) {
        a.cling {
            right: -6%;
            bottom: -2%;
        }
        img {
            width: 150px;
            height: 150px;
        }
        img.bigger {
            width: 180px;
            height: 180px;
        }
    }

    /* mobile */
    @media (max-width: 750px) {
        a {
            right: -8%;
            bottom: -8%;
        }
        a.away {
            right: -6%;
            bottom: -2%;
        }
        img {
            width: 100px;
            height: 100px;
        }
        img.bigger {
            width: 130px;
            height: 130px;
        }
    }
</style>
