/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import "reset.css";

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 5%),
    0 8px 24px rgba(var(--gray), 8%), 0 16px 32px rgba(var(--gray), 8%);

  --font-title: "Nunito Sans", sans-serif;
  --font-content: "Noto Sans KR", sans-serif;

  --color-black: #020202;
  --color-background: #ebdbf3;
  --color-text: #634971;
  --color-header: #4200d5;
  --color-title: #9339ff;
  --color-white: #fbfbfb;

  --text-caption: 0.85rem;
  --text-sm: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.3rem;

  --title-sm: 1.5rem;
  --title-md: 1.75rem;
  --title-lg: 3rem;

  --page-size: 1000px;
}

* {
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--font-content);
  font-size: var(--font-content);
  line-height: 1.7;
  letter-spacing: -1px;
  box-sizing: border-box;
  text-align: left;
}

body {
  font-family: var(--font-content);
  margin: 0;
  padding: 0;
  background: var(--color-white);
}

main {
  width: 100%;
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
.caption {
  font-family: var(--font-content);
  letter-spacing: -1px;
  line-height: 180%;
  color: var(--color-text);
  text-align: justify;
}

h1 {
  font-size: var(--title-lg);
  font-weight: bold;
}

h2 {
  font-size: var(--title-md);
  font-weight: bold;
}

h3 {
  font-size: var(--title-sm);
  font-weight: bold;
}

h4 {
  font-size: var(--text-lg);
  font-weight: bold;
}

h5 {
  font-size: var(--text-sm);
  font-weight: bold;
}

p {
  font-size: var(--text-md);
}

li {
  font-size: var(--text-sm);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 720px) {
  body {
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;

    --title-sm: 1.5rem;
    --title-md: 1.75rem;
    --title-lg: 3rem;
  }
  main {
    padding: 1em;
  }

  body {
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
