main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.prose {
  width: 100%;
  margin: auto;
}

article {
  width: 100%;
}

section {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

img {
  border-radius: 0;
}

h1 {
  margin: 0 auto;
}

/* ====== title ====== */

section.title {
  .post_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    h4 {
      font-weight: 300;
    }

    b {
      font-weight: 900;
    }

    @media (max-width: 730px) {
      & > h5 {
        display: none;
      }

      & h4 {
        text-align: center;
        margin: 0 auto;
      }
    }

    @media (max-width: 400px) {
      & > h4 {
        display: flex;
        flex-direction: column;

        & > span {
          text-align: center;
        }
      }
    }
  }

  .article_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img {
      width: 80%;
      min-width: 350px;
      margin: 5rem 0;
    }
    & div {
      margin: 1rem;
    }

    & p {
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
  }
}

section.content {
  /* ====== qustion ====== */
  & h4 {
    color: var(--color-text);
    display: inline-block;
    background-image: url("/assets/Q.png");
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 60px;
    width: 100%;
    margin-top: 5rem;
    padding-top: 0.5rem;

    @media (max-width: 400px) {
      font-size: var(--text-md);
  
      background-position-x: 15px;
      background-position-y: 5px;
      background-size: 1.5rem;
    }
  }

  /* ====== answer ====== */

  & > p {
    margin: 1rem 0;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--color-text);
    
    @media (max-width: 400px) {
      font-size: var(--text-sm);
    }
  }

  & > h4 + p,
  & > h4 + figure + p {
    background-image: url("/assets/A.png");
    background-repeat: no-repeat;
    padding-left: 50px;

    @media (max-width: 400px) {
      font-size: var(--text-sm);

      background-position-x: 15px;
      background-size: 1.5rem;
    }
  }

  /* ====== list ====== */

  & h5 {
    margin: 0;
    margin-top: 1rem;
    padding: 0 50px;
  }

  & ul {
    background: url("/assets/xmark_line.png") repeat-y;
    background-size: 10px auto;
    background-position: left;
    margin: 0 0 1rem 50px;
    padding-left: 20px;
    list-style: none;
    font-style: italic;

    @media (max-width: 700px) {
      margin: 0 50px 1rem 50px;
    }
  }

  & .flex-row {
    display: flex;

    & figure > img {
      width: 300px;
    }
  }

  /* ====== image ====== */

  & figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    gap: 3px;

    & img {
      width: 400px;
    }

    &.horizon img {
      width: 600px;
    }

    &.small img {
      width: 300px;
    }

    &.fullWidth {
      margin: 3rem 0 0 0;
      width: 100%;

      & > img {
        width: 90%;
      }
    }

    & figcaption,
    & figcaption p {
      font-size: var(--text-caption);
      color: #a8a8a8;
    }

    &.float-left {
      float: left;
    }

    &.float-right {
      float: right;
    }

    @media (max-width: 700px) {
      &.float-left,
      &.float-right {
        float: none;
        padding: 0;
      }
    }
  }

  @media (max-width: 700px) {
    & figure img,
    & figure.horizon img,
    & figure.horizon img,
    & .flex-row > figure > img {
      width: 80%;
      min-width: 300px;
    }

    & .flex-row {
      flex-direction: column;
    }
  }
}
