---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Content from "../../components/type-her-story/Content.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      body {
        background: #fdfcf9;
      }

      main {
        margin: 0 auto;
        padding: 2rem;
        max-width: 1200px;
      }

      footer {
        font-weight: 500;
        font-size: 14px;
        margin: 10px 0;
        color: gray;
      }

      @media (max-width: 420px) {
        main {
          padding: 10px;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <Content client:load />
      <footer>Copyright © 2025 Warchive. All rights reserved.</footer>
    </main>
  </body>
</html>
