---
import BlankLink from "./BlankLink.astro";
import HeaderLink from "./HeaderLink.astro";
import HeaderHover from "./HeaderHover.astro";
import LoginLink from "./LoginLink.svelte";
import ToggleMenu from "./ToggleMenu.svelte";
---

<header>
  <nav>
    <ToggleMenu client:load />
    <h2><a href="/">article</a></h2>
    <div class="internal-links">
      <HeaderLink href="/review">review</HeaderLink>
      <HeaderLink href="/play">play</HeaderLink>
      <HeaderLink href="/bookclub">bookclub</HeaderLink>
      <HeaderHover title="project">
        <BlankLink
          href="https://nomore-corset.womynarchive.com/"
          target="_blank">no more corset</BlankLink
        >
        <BlankLink href="/Radicals-in-University" target="_self"
          >Radicals in University</BlankLink
        >
        <BlankLink href="/type-her-story" target="_self"
          >Type Her Story</BlankLink
        >
        <!-- <BlankLink href="/receipt-her-story" target="_self"
          >Receipt Her Story</BlankLink
        > -->
      </HeaderHover>
    </div>
    <!-- <div class="login">
      <LoginLink client:load />
    </div> -->
    <div class="social-links">
      <a href="https://www.womynarchive.com/" target="_blank">
        <img src="/logo.png" width="100" />
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--color-black);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 1000;
    background-image: linear-gradient(
      90deg,
      rgba(108, 63, 255, 1) 0%,
      rgba(233, 201, 255, 1) 100%
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--color-white);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--color-title);
  }

  .internal-links {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .social-links a > img {
    border-radius: 0;
    object-fit: contain;
  }

  @media (max-width: 720px) {
    h2 {
      font-size: 1.5rem;
    }
    .internal-links,
    .social-links {
      display: none;
    }
  }

  .login {
    color: var(--color-white);
    cursor: pointer;
  }
</style>
