---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { title, class: className, ...props } = Astro.props;
---

<div class="hover-container">
    <div class="hover-title" {...props}>
        {title}
    </div>
    <div class="hover-bridge"></div>
    <div class="hover-content">
        <slot />
    </div>
</div>


<style>
    .hover-container {
        position: relative;
        display: inline-block;
    }

    .hover-title {
        cursor: pointer;
        color: white;
    }

    .hover-bridge {
        position: absolute;
        top: 110%; 
        left: -10px;
        width: calc(100% + 20px);
        height: 20px;
        background: transparent;
    }

    .hover-content {
        display: none;
        position: fixed;
        width: 100vh;
        height: 56px;
        top: 56px;
        left: 0;
        background: var(--color-black);
        z-index: 100;
    }

    .hover-container:hover .hover-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-weight: bold;
    }
</style>
