---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { title, class: className, ...props } = Astro.props;
---

<div class="hover-container">
    <div class="hover-title" {...props}>
        {title}
    </div>
    <div class="hover-bridge"></div>
    <div class="hover-content">
        <slot />
    </div>
</div>


<style>
    .hover-container {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .hover-title {
        height: 100%;
        cursor: pointer;
        color: white;
        padding: 1em 0.5em;
        margin-bottom: 6px;
    }

    .hover-bridge {
        position: absolute;
        top: 90%; 
        left: -10px;
        width: calc(100% + 20px);
        height: 20px;
        background: transparent;
    }

    .hover-content {
        display: none;
        position: absolute;
        width: 160px;
        height: fit-content;
        top: 60px;
        left: -40px;
        background-color: #080808AA;
        z-index: 100;
        text-align: center;
    }

    .hover-container:hover .hover-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-weight: bold;
    }
</style>
