---
const { reportTitle, reportContent, pubDate, reader } = Astro.props;
---

<html lang="en">
  <head>
    <style></style>
  </head>

  <body>
    <li>
      <h5>독후감 제목: {reportTitle}</h5>
      <p>제출일: {new Date(pubDate).toLocaleDateString()}</p>
      <p>읽은 사람: {reader}</p>
      <p>내용: {reportContent}</p>
      <hr />
    </li>
  </body>
</html>
