---
import { type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"play">["data"];
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={title.toString()} />
    <style></style>
  </head>

  <body>
    <Header />
    <main>
      <article></article>
    </main>
  </body>
</html>
