---
import "../../styles/RiU.scss";

import BaseHead from "../../components/BaseHead.astro";
import ClubList from "../../components/RiU/ClubList.svelte";
import RiUFooter from "../../components/RiU/RiUFooter.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Header from "../../components/Header.astro";
---

<!doctype html>
<html
  lang="en"
  data-is-scrolling-up="true|false"
  data-is-bottom="true|false"
  data-is-top="true|false"
  data-has-scroll="true|false"
>
  <head>
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <BaseHead
      title={`${SITE_TITLE} - 계보 기록 프로젝트`}
      description={SITE_DESCRIPTION}
    />

    <style>
      .pc {
        display: block;
      }
      .mobile {
        display: none;
      }

      main,
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      main {
        height: calc(100vh - 66px);
        background-image: url("/RiU/background_web.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      section {
        width: 100%;
        height: fit-content;
        overflow-x: hidden;
      }
      section * {
        word-break: break-all;
        overflow-wrap: break-word;
      }

      .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        max-width: 1000px;
      }
      .title-img {
        min-width: 300px;
        max-width: 50%;
        height: auto;
        margin: 50px 0 40px 0;
      }
      .list {
        width: 100%;
        aspect-ratio: 1072 / 714;
        background-image: url("/RiU/paper_web.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 80px;
      }
      .list-title {
        color: var(--color-riu-black);
        opacity: 0.6;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 1rem;
      }

      .about-btn {
        width: 100%;
        padding: 10px 20px;
        text-align: right;
        text-underline-offset: 5px;
        font-family: var(--font-riu);
        font-weight: 500;
        font-size: 0.9rem;
      }

      @media (max-width: 950px) {
        .list {
          padding: 4%;
        }
        .list-title {
          margin-bottom: 1rem;
        }
      }

      @media (max-width: 950px) {
        .list-title {
          font-size: 18px;
          margin-bottom: 0.6rem;
        }
      }

      /* mobile */
      @media (max-width: 950px) {
        .pc {
          display: none;
        }
        .mobile {
          display: block;
        }

        main {
          height: calc(100vh - 43px);
          background-image: url("/RiU/background_mobile.png");
        }

        .list {
          width: 420px;
          justify-content: center;
          gap: 20px;
          aspect-ratio: 341 / 511;
          background-image: url("/RiU/paper_mobile.png");
        }
        .list-title {
          margin: 1rem;
          font-size: 14px;
        }
      }

      @media (max-width: 460px) {
        .list {
          width: 100%;
          gap: 10px;
        }
        .list-title {
          margin: 1rem 0;
        }
      }
      @media (max-width: 400px) {
        .list {
          gap: 0;
        }
        .list-title {
          margin: 0.6rem;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="container">
          <img
            src="/RiU/title.png"
            alt="Radicals in University"
            class="title-img"
          />
          <div class="list">
            <div class="list-title text-style-title pc">
              동아리 이름을 클릭하여 연도별 활동 기록을 볼 수 있습니다.
            </div>
            <div class="list-title text-style-title mobile">
              동아리 이름을 클릭하여<br />연도별 활동 기록을 볼 수 있습니다.
            </div>
            <ClubList client:load />
            <div class="about-btn">
              <a href={`/Radicals-in-University/about`}>프로젝트 소개 →</a>
            </div>
          </div>
          <RiUFooter />
        </div>
      </section>
    </main>
  </body>
</html>
