---
import '../../styles/RiU.scss';

import BaseHead from "../../components/BaseHead.astro";
import RiUFooter from "../../components/RiU/RiUFooter.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import HyperButton from '../../components/RiU/HyperButton.astro';

const posts = (await getCollection("RiU"));
---

<!doctype html>
<html
  lang="en"
  data-is-scrolling-up="true|false"
  data-is-bottom="true|false"
  data-is-top="true|false"
  data-has-scroll="true|false"
>
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />

    <style>
      .pc {
          display: block;
      }
      .mobile {
          display: none;
      }

      main,
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      main {
        height: 100vh;
        background-image: url('/RiU/background_web.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      section {
        width: 100%;
        height: 100%;
      }
      section * {
        word-break: break-all;
        overflow-wrap: break-word;
      }

      .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 100%;
        max-width: 1000px;
      }
      .title-img {
        max-width: 75%;
        height: auto;
        margin-top: 40px;
      }
      .list {
        width: 100%;
        aspect-ratio: 1072 / 714;
        background-image: url('/RiU/paper_web.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 6%;
      }
      .list-title {
        color: var(--color-riu-black);
        margin-bottom: 2rem;
        text-align: center;
      }
      .list-content {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 30px;
      }
      .univ-group {
        max-width: 150px;
        height: fit-content;
      }
      .club-list {
        text-decoration: none;
        color: var(--color-riu-black);
        font-size: 20px;
      }

      @media (max-width: 950px) {
        .list {
          padding: 4%;
        }
        .list-title {
          margin-bottom: 1rem;
        }
      }
      @media (max-width: 870px) {
        .list {
          padding: 2%;
        }
        .list-content {
          gap: 0 10px;
        }
      }

      /* mobile */
      @media (max-width: 750px) {
        .pc {
          display: none;
        }
        .mobile {
          display: block;
        }
        
        main {
          background-image: url('/RiU/background_mobile.png');
        }

        .list {
          width: fit-content;
          padding: 8% 6%;
          aspect-ratio: 341 / 511;
          background-image: url('/RiU/paper_mobile.png');
        }
        .list-content {
          grid-template-columns: repeat(2, 1fr);
        }
        .univ-group {
          max-width: 115px;
        }
        .club-list {
          font-size: 16px;
        }
      }

      @media (max-width: 450px) {
        .list {
          padding: 4%;
        }
        .list-title {
          margin-bottom: 0;
        }
        .univ-group {
          max-width: 95px;
        }
        .club-list {
          font-size: 14px;
        }
      }      
    </style>

  </head>
  <body>
    <main>
      <section>
        <div class="container">
          <img src="/RiU/title.png" alt="Radicals in University" class="title-img">
          <div class="list">
            <div class="list-title text-style-title pc">
              동아리 이름을 클릭하여 연도별 활동 기록을 볼 수 있습니다.
            </div>
            <div class="list-title text-style-title mobile">
              동아리 목록
            </div>
            <div class="list-content">
              <div class="univ-group">
                <div class="style-university text-style-university">광주여자대학교</div>
                <a class="club-list text-style-title" href="/Radicals-in-University/d_ground">D_GROUND</a>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">덕성여자대학교</div>
                <div class="club-list text-style-title">래디어스</div>
                <div class="club-list text-style-title">TNT</div>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">동덕여자대학교</div>
                <div class="club-list text-style-title">싹둑</div>
                <div class="club-list text-style-title">SIREN</div>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">서울대학교</div>
                <div class="club-list text-style-title">SHAF</div>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">서울여자대학교</div>
                <div class="club-list text-style-title">무소의 뿔</div>
                <br />
                <div class="style-university text-style-university">한양여자대학교</div>
                <div class="club-list text-style-title">한여름</div>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">성신여자대학교</div>
                <div class="club-list text-style-title">디어시스터즈</div>
                <div class="club-list text-style-title">시너지</div>
                <div class="club-list text-style-title">해방</div>
                <div class="club-list text-style-title">GPS</div>
                <div class="club-list text-style-title">Radsbos</div>
                <div class="club-list text-style-title">SLATE</div>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">숙명여자대학교</div>
                <div class="club-list text-style-title">FEMI-POWER PROJECT</div>
              </div>
              <div class="univ-group">
                <div class="style-university text-style-university">이화여자대학교</div>
                <div class="club-list text-style-title">RAD-E</div>
              </div>
            </div>
            <HyperButton imgSrc='button_intro.png' href="about" cling={true} />
          </div>
          <RiUFooter />
        </div>
      </section>
    </main>
  </body>
</html>
